---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Gwap Intelligence</title>
    <link>https://gwapgang.com/blog/</link>
    <description>Build logs, money systems, AI field notes and founder lessons from Gwap Gang.</description>
    <language>en-us</language>
    {% for post in collections.posts | reverse %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | rfc822Date }}</pubDate>
      <description>{{ post.data.description }}</description>
      {% if post.data.category %}<category>{{ post.data.category }}</category>{% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
