---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <url><loc>https://gwapgang.com/</loc></url>
  <url><loc>https://gwapgang.com/blog/</loc></url>
  <url><loc>https://gwapgang.com/start/</loc></url>
  <url><loc>https://gwapgang.com/search-intelligence/</loc></url>
  <url><loc>https://gwapgang.com/gallery/</loc></url>
  <url><loc>https://gwapgang.com/signal/</loc></url>
  <url><loc>https://gwapgang.com/graph/</loc></url>
  <url><loc>https://gwapgang.com/revenue-rescue-sprint/</loc></url>\n  <url><loc>https://gwapgang.com/revenue-leak-score/</loc></url>
  <url><loc>https://gwapgang.com/author/rich-ross/</loc></url>
  <url><loc>https://gwapgang.com/culture/</loc></url>
  <url><loc>https://gwapgang.com/capital/</loc></url>
  <url><loc>https://gwapgang.com/technology/</loc></url>
  <url><loc>https://gwapgang.com/intelligence/</loc></url>
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ (post.data.updated or post.date) | isoDateOnly }}</lastmod>
    {% if post.data.image %}
    <image:image>
      <image:loc>{{ post.data.image | absoluteUrl(site.url) }}</image:loc>
      <image:title>{{ (post.data.imageAlt or post.data.title) | xmlEscape }}</image:title>
    </image:image>
    {% endif %}
  </url>
  {% endfor %}
</urlset>
